#root {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: black;
}


.header_container{
  border-bottom: 1px solid black;
}

.nes-container{
  max-width: 700px;

}

.nes-balloon p {
  color: #000000 
}